body{
  background-color: #C2BB9C;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
}

.row{
  display: flex;
  height: 100%;
  justify-content: center;
  margin-left: 4px;
}

.row span{
  max-width: 400px;
  margin: auto;
}

.row img{
  width: 250px;
  height: 200px;
  margin: 0px;
  padding: 3px;
  transition: all 1s;
}

.row img:hover{
  transform: scale(1.1);
}

.introduction{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bruce_logo{
  transition: all 1s;
}

.bruce_logo:hover{
  transform: scale(1.1);
}

.display-4{
    font-family: 'East Sea Dokdo', cursive;
    color: #E15151;
}

.lead{
  font-family: 'East Sea Dokdo', cursive;
  color: #E15151;
}

.btn-danger{
  font-family: 'East Sea Dokdo', cursive;
}
